.shelf {
  display: flex;
  justify-content: center;
  align-items: center;
  .shelf-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    width: 1200px;
    grid-gap: 20px;
    padding: 1rem;
    margin: 0 auto;
    border: 1px solid;
  }
}
